<form class="form-horizontal" method="post">
    <div class="form-group">
      <label for="username" class="col-sm-2 control-label">Username</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="username" name="username" placeholder="Username"     autofocus="" >
      </div>
    </div>
....
...
 <div class="row">
    <div class="col-sm-2 col-sm-offset-2">
        <input name="sex" value="M" type="radio"  checked="checked"> GTK
    </div>
 <div class="col-sm-2 ">
            <input name="sex" value="F" type="radio"> CNT
        </div>                    
   </div>
 <div class="col-sm-2 ">
            <input name="sex" value="F" type="radio"> TYMPHANy
        </div>                    
   </div>
</form>